<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lvshandian.partylive">

    <!-- 使用权限 -->


    <!-- 使用权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 硬件特性 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许挂载和反挂载文件系统可移动存储 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 权限声明 -->
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.lvshandian.partylive.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.lvshandian.partylive.permission.RECEIVE_MSG" />

    <!-- 友盟分享权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        //开机引导页面
        <activity
            android:name=".moudles.start.GuidActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //开机启动页
        <activity
            android:name=".moudles.start.StartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        //登录页面
        <activity
            android:name=".moudles.start.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        //注册页面
        <activity
            android:name=".moudles.start.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        //邀请好友页面
        <activity
            android:name=".moudles.mine.my.InviteFriendActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 注册后，修改用户信息（昵称，性别等） -->
        <activity
            android:name=".moudles.start.RegisterUserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 修改个人信息 -->
        <activity
            android:name=".moudles.mine.activity.ModifyInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 充值中心 -->
        <activity
            android:name=".moudles.mine.activity.ChargeMoneyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 兑换中心 -->
        <activity
            android:name=".moudles.mine.activity.ExchangeCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 兑换中心点击进入的兑换页面 -->
        <activity
            android:name=".moudles.mine.activity.ExchangeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 设置 -->
        <activity
            android:name=".moudles.mine.my.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 修改密码 -->
        <activity
            android:name=".moudles.mine.my.ModifyPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 黑名单 -->
        <activity
            android:name=".wangyiyunxin.contact.activity.BlackListActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- 系统消息 -->
        <activity
            android:name=".moudles.mine.my.SystemMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 网易云信通知消息 -->
        <activity
            android:name=".wangyiyunxin.main.activity.WYYXSystemMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 实名认真 -->
        <activity
            android:name=".moudles.mine.my.AuthenticationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 贡献榜 -->
        <activity
            android:name=".moudles.mine.my.GongXianActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 第三方权限检验使用 -->
        <activity
            android:name=".lib.acp.AcpActivity"
            android:launchMode="singleTask" />
        <!-- 消息中心 -->
        <activity
            android:name=".moudles.mine.my.MessageCenterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 开通会员 -->
        <activity
            android:name=".moudles.mine.my.OpenMemberActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 开通会员 -->

        <!-- 贡献榜 -->
        <activity
            android:name=".moudles.mine.my.ContributeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 最近访客 -->
        <activity
            android:name=".moudles.mine.my.RecentVisitorsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 其他人主页 -->
        <activity
            android:name=".moudles.mine.my.OtherPersonHomePageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- 聊天室 -->
        <activity
            android:name=".wangyiyunxin.chatroom.activity.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 照片详情 -->
        <activity
            android:name=".moudles.mine.my.PhotoDetails"
            android:clipToPadding="true"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <!-- 短视频详情 -->
        <activity
            android:name=".moudles.mine.my.Videotails"
            android:clipToPadding="true"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity
            android:name=".wangyiyunxin.session.activity.MessageHistoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".wangyiyunxin.session.activity.MessageInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".moudles.mine.my.RealNameVertifyActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".moudles.index.live.PrapareVedioActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 粉丝列表 -->
        <activity
            android:name=".moudles.mine.my.FunseListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 关注列表 -->
        <activity
            android:name=".moudles.mine.my.FollowListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 关注列表用于创建高级群邀请用户 -->
        <activity
            android:name=".moudles.group.activity.FollowListForGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 观看直播 -->
        <activity
            android:name=".moudles.index.live.WatchLiveActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 消息会话列表 -->
        <activity
            android:name=".wangyiyunxin.main.activity.SessionListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 开启直播准备 -->
        <activity
            android:name=".moudles.index.live.StartLiveReadyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 开启直播 -->
        <activity
            android:name=".moudles.index.live.StartLiveActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 搜索页面 -->
        <activity
            android:name=".moudles.index.activity.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--直播—频道-更多-->
        <activity
            android:name=".moudles.index.activity.ChannelMoreActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        //开机启动页
        <activity
            android:name=".moudles.mine.my.TiXianActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 消息历史搜索 -->
        <activity
            android:name=".wangyiyunxin.session.search.SearchMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/global_search_bg"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />

        <!-- 友盟分享:开始 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!-- 微信支付 -->
        <receiver android:name=".AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5812f668f29d981d670034c6" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="4fsjado3psszbhqeqxb1f2iygot97jmt" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <!-- 微信平台 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- 腾讯 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- <data android:scheme="tencent100424468" /> -->
                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".service.MyPushIntentService" />

        <!-- 友盟分享:结束 -->


        <!-- 评论相关注册 -->
        <activity
            android:name="com.umeng.socialize.view.CommentActivity"
            android:configChanges="orientation|keyboard"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name="com.umeng.socialize.view.CommentDetail"
            android:configChanges="orientation|keyboard"
            android:noHistory="true"
            android:theme="@style/Theme.UMDefault" />
        <activity
            android:name="com.umeng.socialize.view.CommentDetailNoMap"
            android:configChanges="orientation|keyboard"
            android:noHistory="true"
            android:theme="@style/Theme.UMDefault" />

        <!-- 网易云信配置开始 -->


        <!--
             APP key, 可以在这里设置，也可以在 SDKOptions 中提供。
            如果 SDKOptions 中提供了，取 SDKOptions 中的值。
        -->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="4e51aee3ee66f45d547fbc19bb8609da" />

        <!-- 声明云信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core" />
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core" />

        <!--
             云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程
        -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver" />

        <!-- 安卓保活配置 -->
        <service
            android:name="com.netease.cosine.core.CosineService"
            android:process=":cosine" />

        <receiver
            android:name="com.netease.cosine.target.CosineReceiver"
            android:exported="true"
            android:process=":cosine" />

        <meta-data
            android:name="com.netease.cosine.target"
            android:value="" />
        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 网易云信配置结束 -->
    </application>

</manifest>